
#container{
    padding: 10px 20px 0px 20px;
    margin: 5px 600px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow:4px 4px 10px 10px lightgrey;
}
h1{
    color: rgb(106, 106, 238);
}
#submit{
    padding: 15px 40px;
    background-color: rgb(248, 105, 105);
    border: 1px solid gray;
    border-radius: 10px;
}
#data{
    text-align: center;
    height: 25px;
    width: 200px;
    border-radius: 10px;
}